* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #363636; }

img {
  border: none; }

a:hover {
  color: blue; }

ul li {
  list-style: none; }

.mainbody {
  width: 100%;
  height: 100%; }

.mainbody .header {
  position: relative;
  z-index: 999;
  height: 36px;
  background: #eee;
  padding: 0 30px; }

.mainbody .header .header-left {
  font-size: 18px;
  color: #363636;
  line-height: 36px; }

.mainbody .header .header-right {
  font-size: 15px;
  color: #363636;
  float: right;
  line-height: 36px; }

.bignav {
  position: relative;
  width: 100%;
  z-index: 999;
  height: 60px;
  background: #fff;
  border-bottom: 2px solid #eee;
  line-height: 64px; }
  .bignav #nav-ul {
    font-size: 15px;
    width: 474px;
    padding-left: 30px; }
    .bignav #nav-ul li {
      display: block;
      float: left;
      position: relative;
      padding: 0 10px; }
      .bignav #nav-ul li a {
        display: block;
        height: 60px; }
      .bignav #nav-ul li .menu {
        border-top: 1px solid #eee;
        overflow: hidden;
        font-size: 14px;
        height: 0px;
        width: 1263px;
        z-index: -99;
        position: absolute;
        top: 60px;
        left: -30px;
        background: #fff; }
        .bignav #nav-ul li .menu .menuleft {
          float: left;
          padding: 0 20px;
          width: auto;
          height: 230px;
          border-right: 1px solid #eee; }
          .bignav #nav-ul li .menu .menuleft dl {
            width: auto;
            height: auto;
            float: left; }
            .bignav #nav-ul li .menu .menuleft dl a img {
              display: block;
              width: 100px;
              height: 100px;
              margin-top: 40px;
              margin-left: 25px; }
            .bignav #nav-ul li .menu .menuleft dl dd {
              margin-left: 40px; }
        .bignav #nav-ul li .menu .menuright {
          padding: 0 20px;
          padding-top: 20px;
          float: left;
          line-height: 40px; }
          .bignav #nav-ul li .menu .menuright #ul1 {
            float: left;
            width: 150px; }
          .bignav #nav-ul li .menu .menuright #ul2 {
            float: right; }
      .bignav #nav-ul li #menu2 {
        left: -110px; }
        .bignav #nav-ul li #menu2 .menuleft dd {
          width: 100px; }
      .bignav #nav-ul li #menu3 {
        left: -205px; }
        .bignav #nav-ul li #menu3 #menuright-c .ul1 li:nth-of-child(1) {
          font-weight: 900; }
      .bignav #nav-ul li #menu4 {
        left: -285px; }
      .bignav #nav-ul li #menu5 {
        left: -380px; }
    .bignav #nav-ul .active {
      border-bottom: 3px solid blue; }
  .bignav #logo {
    width: 130px;
    height: 22px;
    margin-left: 85px; }
  .bignav a span {
    margin-left: 30px; }
    .bignav a span i {
      color: black;
      font-size: 20px;
      font-weight: 900; }

.toplist {
  padding: 20px 30px;
  font-size: 14px; }

.detail {
  width: 1203px;
  height: 800px;
  padding: 20px 30px; }
  .detail .detail-left {
    width: 565px;
    height: 755px;
    position: relative;
    float: left; }
    .detail .detail-left label {
      width: 40px;
      display: block;
      background: #ed5e2f;
      padding: 2px 5px;
      font-size: 20px;
      color: #fff;
      margin-top: 15px;
      margin-left: 0px; }
    .detail .detail-left .pic {
      width: 425px;
      height: 425px;
      position: absolute;
      left: 50px;
      top: 50px; }
      .detail .detail-left .pic img {
        width: 425px;
        height: 425px;
        display: none;
        position: absolute; }
      .detail .detail-left .pic img:nth-of-type(1) {
        display: block; }
      .detail .detail-left .pic .blocks {
        width: 189px;
        height: 189px;
        background: rgba(254, 238, 167, 0.4);
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        z-index: 10; }
    .detail .detail-left .fd {
      position: absolute;
      width: 425px;
      height: 425px;
      left: 490px;
      top: 0;
      overflow: hidden;
      z-index: 100;
      display: none; }
      .detail .detail-left .fd img {
        position: absolute;
        display: none; }
      .detail .detail-left .fd img:nth-of-type(1) {
        display: block;
        z-index: 99; }
    .detail .detail-left .minPic {
      width: 565px;
      height: 85px;
      position: absolute;
      top: 550px;
      marign: 0 30px;
      overflow: hidden; }
      .detail .detail-left .minPic b {
        height: 85px;
        font-size: 27px;
        color: #999;
        line-height: 85px;
        position: absolute;
        z-index: 5; }
      .detail .detail-left .minPic .icon-left {
        float: left;
        left: 0;
        cursor: pointer; }
      .detail .detail-left .minPic .icon-right {
        font-size: 30px;
        float: right;
        left: 509px;
        cursor: pointer; }
      .detail .detail-left .minPic .window {
        width: 471px;
        height: 85px;
        text-align: center;
        margin-left: 40px;
        overflow: hidden; }
        .detail .detail-left .minPic .window ul {
          width: 824px;
          height: 85px;
          position: relative;
          overflow: hidden; }
          .detail .detail-left .minPic .window ul li {
            width: 14.2857%;
            height: 85px;
            float: left;
            position: relative;
            text-align: center;
            cursor: pointer; }
            .detail .detail-left .minPic .window ul li a {
              display: block;
              width: 81px;
              height: 81px; }
            .detail .detail-left .minPic .window ul li .active {
              border: 2px solid #29a9df; }
            .detail .detail-left .minPic .window ul li img {
              width: 81px;
              height: 81px; }
  .detail .detail-right {
    width: 565px;
    height: 755px;
    float: left;
    margin-left: 50px;
    margin-top: 50px; }
    .detail .detail-right .ul1 {
      width: 571px;
      height: 184px; }
      .detail .detail-right .ul1 li {
        position: relative;
        padding-left: 70px;
        margin-top: 8px;
        line-height: 24px; }
        .detail .detail-right .ul1 li a {
          color: blue; }
        .detail .detail-right .ul1 li span {
          position: absolute;
          left: 0;
          top: 0;
          width: 48px;
          height: 22px;
          line-height: 22px;
          text-align: center;
          background: #006ec7;
          color: #fff;
          font-size: 12px;
          border-radius: 4px; }
    .detail .detail-right .color-nav {
      width: 560px;
      height: 54px; }
      .detail .detail-right .color-nav .sp-color {
        position: absolute; }
      .detail .detail-right .color-nav li {
        width: 165px;
        height: 54px;
        float: left; }
        .detail .detail-right .color-nav li a {
          display: block;
          width: 149px;
          height: 40px;
          border: 1px solid #eee;
          text-align: center;
          line-height: 40px; }
          .detail .detail-right .color-nav li a span {
            width: 20px;
            height: 20px;
            border-radius: 50%; }
          .detail .detail-right .color-nav li a .sp1 {
            background: black; }
          .detail .detail-right .color-nav li a .sp2 {
            background: #30457a; }
          .detail .detail-right .color-nav li a .sp3 {
            background: #724d43; }
    .detail .detail-right .size-nav {
      position: relative; }
      .detail .detail-right .size-nav ul {
        margin-left: 50px; }
        .detail .detail-right .size-nav ul li {
          width: 165px;
          height: 92px;
          float: left;
          margin-left: 10px; }
          .detail .detail-right .size-nav ul li a {
            border: 2px solid #eee;
            margin-bottom: 6px;
            margin-top: 6px;
            display: block;
            height: 80px;
            text-align: center;
            line-height: 40px; }
    .detail .detail-right .versions {
      width: 230px;
      height: 76px;
      position: relative;
      top: 40px; }
      .detail .detail-right .versions a {
        width: 150px;
        display: block;
        border: 2px solid #29a9df;
        position: absolute;
        left: 60px;
        top: 80px;
        height: 40px;
        text-align: center;
        line-height: 40px; }
    .detail .detail-right .price {
      position: relative; }
      .detail .detail-right .price span {
        position: absolute;
        top: 10px;
        left: 0px; }
      .detail .detail-right .price .panel {
        position: absolute;
        width: 550px;
        height: 156px;
        font-size: 12px;
        top: 100px;
        left: 60px;
        background: #f8f8f8;
        padding: 0 5px; }
        .detail .detail-right .price .panel .panel-top {
          height: 80px;
          position: relative;
          border-bottom: 1px solid #fff; }
          .detail .detail-right .price .panel .panel-top b {
            font-size: 16px;
            float: left;
            position: absolute;
            top: 30px; }
          .detail .detail-right .price .panel .panel-top span {
            font-size: 28px;
            position: absolute;
            top: 0;
            left: 330px; }
        .detail .detail-right .price .panel .panel-bottom {
          height: 80px;
          position: relative; }
          .detail .detail-right .price .panel .panel-bottom .p1 {
            width: 50px;
            border: 1px solid red;
            padding: 3px;
            border-radius: 5px;
            color: red;
            margin-top: 10px; }
          .detail .detail-right .price .panel .panel-bottom .p2 {
            width: 50px;
            border: 1px solid red;
            padding: 3px;
            border-radius: 5px;
            color: red;
            margin-top: 10px; }
          .detail .detail-right .price .panel .panel-bottom .p3 {
            position: absolute;
            left: 80px;
            top: 5px; }
          .detail .detail-right .price .panel .panel-bottom .p4 {
            position: absolute;
            left: 80px;
            top: 40px; }
    .detail .detail-right #btn1 {
      width: 187px;
      height: 48px;
      display: inline-block;
      position: relative;
      top: 260px;
      left: 60px;
      overflow: hidden;
      text-transform: uppercase;
      text-align: center;
      white-space: normal;
      padding: 0;
      border: 0;
      margin: 0;
      color: #222;
      background: #ccc;
      border-radius: 0;
      background: #fff;
      border: 1px solid #000;
      border-radius: 24px;
      min-width: 100px;
      height: 48px;
      line-height: 48px;
      font-weight: 900;
      font-size: 20px;
      cursor: pointer; }
    .detail .detail-right #btn2 {
      width: 187px;
      height: 48px;
      display: inline-block;
      position: relative;
      top: 260px;
      left: 100px;
      overflow: hidden;
      text-transform: uppercase;
      text-align: center;
      white-space: normal;
      padding: 0;
      border: 0;
      margin: 0;
      color: #fff;
      font-weight: 900;
      border-radius: 0;
      background: #2f0d9b;
      border: 1px solid #000;
      border-radius: 24px;
      min-width: 100px;
      height: 48px;
      line-height: 48px;
      font-size: 20px;
      cursor: pointer; }

.bottom {
  height: 237px;
  background: #f5f5f5;
  border-top: 1px solid #eee;
  padding: 23px 0; }
  .bottom ul {
    color: #333;
    font-size: 14px;
    float: left;
    margin-left: 30px;
    margin-right: 160px;
    margin-top: 15px; }
    .bottom ul li {
      margin-top: 5px; }
  .bottom section {
    width: 285px;
    height: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 130px; }
    .bottom section .p1 {
      margin-bottom: 15px;
      margin-left: 15px; }
    .bottom section i {
      display: inline-block;
      font-size: 40px;
      margin-bottom: 15px;
      margin-left: 15px; }
  .bottom .p2 {
    display: block;
    float: left;
    width: 400px;
    height: 20px;
    margin-left: 50px; }

footer {
  height: 76px;
  background: #333;
  padding: 28px 30px; }
  footer ul {
    font-size: 14px;
    width: 245px;
    height: 20px; }
    footer ul li {
      display: block;
      float: left;
      margin-right: 25px; }
      footer ul li a {
        color: white;
        font-weight: 800; }
  footer p {
    font-size: 12px;
    color: #eee; }
  footer .p3 {
    margin-top: 30px;
    width: 500px; }
  footer .p4 {
    float: right;
    margin-top: -60px;
    width: 280px; }
  footer #aa {
    color: white;
    font-size: 12px;
    float: right;
    margin-top: -15px;
    margin-right: 157px; }
