* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #363636; }

img {
  border: none; }

a:hover {
  color: blue; }

ul li {
  list-style: none; }

.mainbody {
  width: 100%;
  height: 100%; }

.mainbody .header {
  position: relative;
  z-index: 999;
  height: 36px;
  background: #eee;
  padding: 0 30px; }

.mainbody .header .header-left {
  font-size: 18px;
  color: #363636;
  line-height: 36px; }

.mainbody .header .header-right {
  font-size: 15px;
  color: #363636;
  float: right;
  line-height: 36px; }

.bignav {
  position: relative;
  width: 100%;
  z-index: 999;
  height: 60px;
  background: #fff;
  border-bottom: 2px solid #eee;
  line-height: 64px; }
  .bignav #nav-ul {
    font-size: 15px;
    width: 474px;
    padding-left: 30px; }
    .bignav #nav-ul li {
      display: block;
      float: left;
      position: relative;
      padding: 0 10px; }
      .bignav #nav-ul li a {
        display: block;
        height: 60px; }
      .bignav #nav-ul li .menu {
        border-top: 1px solid #eee;
        overflow: hidden;
        font-size: 14px;
        height: 0px;
        width: 1263px;
        z-index: -99;
        position: absolute;
        top: 60px;
        left: -30px;
        background: #fff; }
        .bignav #nav-ul li .menu .menuleft {
          float: left;
          padding: 0 20px;
          width: auto;
          height: 230px;
          border-right: 1px solid #eee; }
          .bignav #nav-ul li .menu .menuleft dl {
            width: auto;
            height: auto;
            float: left; }
            .bignav #nav-ul li .menu .menuleft dl a img {
              display: block;
              width: 100px;
              height: 100px;
              margin-top: 40px;
              margin-left: 25px; }
            .bignav #nav-ul li .menu .menuleft dl dd {
              margin-left: 40px; }
        .bignav #nav-ul li .menu .menuright {
          padding: 0 20px;
          padding-top: 20px;
          float: left;
          line-height: 40px; }
          .bignav #nav-ul li .menu .menuright #ul1 {
            float: left;
            width: 150px; }
          .bignav #nav-ul li .menu .menuright #ul2 {
            float: right; }
      .bignav #nav-ul li #menu2 {
        left: -110px; }
        .bignav #nav-ul li #menu2 .menuleft dd {
          width: 100px; }
      .bignav #nav-ul li #menu3 {
        left: -205px; }
        .bignav #nav-ul li #menu3 #menuright-c .ul1 li:nth-of-child(1) {
          font-weight: 900; }
      .bignav #nav-ul li #menu4 {
        left: -285px; }
      .bignav #nav-ul li #menu5 {
        left: -380px; }
    .bignav #nav-ul .active {
      border-bottom: 3px solid blue; }
  .bignav #logo {
    width: 130px;
    height: 22px;
    margin-left: 85px; }
  .bignav a span {
    margin-left: 30px; }
    .bignav a span i {
      color: black;
      font-size: 20px;
      font-weight: 900; }

.fixDiv {
  position: fixed;
  top: 0;
  zIndex: 999; }

.play {
  margin-top: 2px;
  width: 1263px;
  height: 427px;
  position: relative;
  overflow: hidden;
  z-index: 5; }

.play ol {
  position: absolute;
  left: 45%;
  bottom: 5px;
  z-index: 2; }
  .play ol li {
    float: left;
    list-style: none;
    width: 16px;
    height: 16px;
    background: #cecfd5;
    margin-left: 20px;
    border-radius: 50%;
    cursor: pointer; }
  .play ol .active {
    background: #337ab7;
    border: 2px solid white;
    margin-top: -3px; }

.play ul {
  width: 7578px;
  height: 427px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden; }

.play ul li {
  width: 1263px;
  height: 427px;
  float: left; }

.play ul img {
  width: 1263px;
  display: block;
  float: left;
  height: 427px; }

.banner {
  width: 1233px;
  height: 290px;
  padding: 15px; }
  .banner div {
    width: 385px;
    height: 257px;
    float: left;
    margin-left: 10px;
    padding: 8px; }

.bottom {
  height: 237px;
  background: #f5f5f5;
  border-top: 1px solid #eee;
  padding: 23px 0; }
  .bottom ul {
    color: #333;
    font-size: 14px;
    float: left;
    margin-left: 30px;
    margin-right: 160px;
    margin-top: 15px; }
    .bottom ul li {
      margin-top: 5px; }
  .bottom section {
    width: 285px;
    height: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 130px; }
    .bottom section .p1 {
      margin-bottom: 15px;
      margin-left: 15px; }
    .bottom section i {
      display: inline-block;
      font-size: 40px;
      margin-bottom: 15px;
      margin-left: 15px; }
  .bottom .p2 {
    display: block;
    float: left;
    width: 400px;
    height: 20px;
    margin-left: 50px; }

footer {
  height: 76px;
  background: #333;
  padding: 28px 30px; }
  footer ul {
    font-size: 14px;
    width: 245px;
    height: 20px; }
    footer ul li {
      display: block;
      float: left;
      margin-right: 25px; }
      footer ul li a {
        color: white;
        font-weight: 800; }
  footer p {
    font-size: 12px;
    color: #eee; }
  footer .p3 {
    margin-top: 30px;
    width: 500px; }
  footer .p4 {
    float: right;
    margin-top: -60px;
    width: 280px; }
  footer #aa {
    color: white;
    font-size: 12px;
    float: right;
    margin-top: -15px;
    margin-right: 157px; }

.section {
  width: 1203px;
  height: 430px;
  padding: 10px 30px 22px; }
  .section .section-top {
    position: relative;
    height: 50px;
    width: 96%; }
    .section .section-top p {
      position: absolute;
      left: 30px;
      font-size: 26px;
      color: #333; }
    .section .section-top ul {
      position: absolute;
      top: 10px;
      left: 180px;
      width: auto;
      height: 50px; }
      .section .section-top ul li {
        diaplay: inline-block;
        float: left;
        padding: 0 15px;
        font-size: 20px;
        color: #333;
        text-align: center;
        cursor: pointer; }
      .section .section-top ul .active1 {
        border-bottom: 3px solid blue; }
  .section .section-bottom {
    overflow: hidden;
    position: relative;
    height: 345px;
    width: 100%;
    background: #eee;
    cursor: pointer; }
    .section .section-bottom .bottom-div {
      width: 1263px;
      margin-left: -5px;
      position: absolute; }
      .section .section-bottom .bottom-div .section-bottom-list {
        width: 230px;
        height: 306px;
        background: #fff;
        padding: 20px 20px 20px 50px;
        float: left;
        margin-left: 5px; }
        .section .section-bottom .bottom-div .section-bottom-list img {
          width: 200px;
          height: 217px; }
        .section .section-bottom .bottom-div .section-bottom-list h4 {
          display: block;
          padding: 20px 0; }
        .section .section-bottom .bottom-div .section-bottom-list p {
          margin-left: 50px; }
    .section .section-bottom .bottom-div:nth-of-type(1) {
      z-index: 10; }
    .section .section-bottom .bottom-div:nth-of-type(2) {
      z-index: 5; }
    .section .section-bottom .bottom-div:nth-of-type(3) {
      z-index: 1; }
  .section .ico1 {
    position: absolute;
    top: 50%;
    left: 2%;
    broder: 1px solid #eee;
    width: 26px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border: 2px solid #eee;
    z-index: 888; }
    .section .ico1 .iconfont {
      font-size: 20px; }
  .section .ico2 {
    position: absolute;
    top: 50%;
    left: 95%;
    width: 26px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border: 2px solid #eee;
    z-index: 888; }
    .section .ico2 .iconfont {
      font-size: 24px; }

.event {
  overflow: hidden;
  width: 1203px;
  height: 247px;
  padding: 15px 30px 22px;
  position: relative; }
  .event ol {
    position: absolute;
    left: 45%;
    bottom: 5px;
    z-index: 2; }
    .event ol li {
      float: left;
      list-style: none;
      width: 16px;
      height: 16px;
      background: #cecfd5;
      margin-left: 20px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 9; }
    .event ol .active {
      background: #337ab7;
      border: 2px solid white;
      margin-top: -3px; }
  .event ul {
    position: absolute;
    width: 2600px; }
    .event ul li {
      float: left; }
      .event ul li img {
        width: 1203px;
        height: 184px;
        z-index: 8;
        padding: 0 30px; }

.img img {
  padding: 0 20px; }

.article {
  width: 1203px;
  height: 430px;
  padding: 10px 30px 22px; }
  .article .article-top {
    position: relative;
    height: 50px;
    width: 96%; }
    .article .article-top p {
      position: absolute;
      left: 30px;
      font-size: 26px;
      color: #333; }
    .article .article-top ul {
      position: absolute;
      top: 10px;
      left: 180px;
      width: auto;
      height: 50px; }
      .article .article-top ul li {
        diaplay: inline-block;
        float: left;
        padding: 0 15px;
        font-size: 20px;
        color: #333;
        text-align: center;
        cursor: pointer; }
      .article .article-top ul .active1 {
        border-bottom: 3px solid blue; }
  .article .article-bottom {
    overflow: hidden;
    position: relative;
    height: 345px;
    width: 100%;
    background: #eee;
    cursor: pointer; }
    .article .article-bottom .article-div {
      width: 1263px;
      margin-left: -5px;
      position: absolute; }
      .article .article-bottom .article-div .section-bottom-list {
        width: 230px;
        height: 306px;
        background: #fff;
        padding: 20px 20px 20px 50px;
        float: left;
        margin-left: 5px; }
        .article .article-bottom .article-div .section-bottom-list img {
          width: 200px;
          height: 217px; }
        .article .article-bottom .article-div .section-bottom-list h4 {
          display: block;
          padding: 20px 0; }
        .article .article-bottom .article-div .section-bottom-list p {
          margin-left: 50px; }
    .article .article-bottom .article-div:nth-of-type(1) {
      z-index: 10; }
    .article .article-bottom .article-div:nth-of-type(2) {
      z-index: 5; }
    .article .article-bottom .article-div:nth-of-type(3) {
      z-index: 1; }
  .article .icon1 {
    position: absolute;
    top: 50%;
    left: 2%;
    broder: 1px solid #eee;
    width: 26px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border: 2px solid #eee;
    z-index: 888; }
    .article .icon1 .iconfont {
      font-size: 20px; }
  .article .icon2 {
    position: absolute;
    top: 50%;
    left: 95%;
    width: 26px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border: 2px solid #eee;
    z-index: 888; }
    .article .icon2 .iconfont {
      font-size: 24px; }

.chat .right-small {
  height: 173px;
  width: 14px;
  font-size: 14px;
  color: #fff;
  padding: 10px 15px;
  background: #1d2d63;
  border-radius: 5px;
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 88; }

.chat .left-small {
  display: none; }

.chat .chat-head {
  height: 45px;
  background: #1d2d63;
  width: 246px;
  font-size: 14px;
  color: #fff;
  position: fixed;
  right: 60px;
  top: 25%;
  z-index: 88; }
  .chat .chat-head .chat-person {
    position: absolute;
    top: 7%; }
  .chat .chat-head .chat-title {
    position: absolute;
    top: 25%;
    left: 18%; }
  .chat .chat-head .chat-close {
    position: absolute;
    right: 2px;
    top: 0; }

.chat .chat-bottom {
  position: fixed;
  right: 60px;
  top: 31%;
  z-index: 88; }

.toTop {
  width: 54px;
  height: 54px;
  border-radius: 5px;
  background: #eee;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 999;
  line-height: 54px;
  text-align: center; }
  .toTop i {
    font-size: 30px; }
