body {
  background: #f7f7f7;
  height: 550px; }

a {
  text-decoration: none; }

.clauseleft {
  display: inline-block;
  width: 460px;
  height: 475px;
  position: relative;
  left: 200px;
  top: 20px; }
  .clauseleft h2 {
    margin-left: 60px; }
  .clauseleft b {
    font-size: 60px; }
  .clauseleft a {
    position: absolute;
    top: 150px;
    left: 30px; }

.clauseright {
  position: absolute;
  top: 80px;
  left: 600px;
  display: inline-block;
  width: 460px;
  height: 376px; }
  .clauseright #p1 {
    border-bottom: 1px solid #999;
    padding-bottom: 30px; }
  .clauseright input {
    display: inline-block; }
  .clauseright input {
    height: 18px;
    width: 18px; }
  .clauseright button {
    display: block;
    width: 460px;
    height: 50px;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: .5em;
    font-weight: 800;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer; }
  .clauseright #btn1 {
    margin-top: 40px; }

.footer {
  position: relative;
  padding: 20px 200px;
  top: 145px;
  background: #e1e1e1; }
  .footer #footerleft {
    float: left;
    display: inline-block; }
  .footer #footerright {
    float: right;
    display: inline-block;
    color: #999; }
